
.big_card{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
    border-radius: 15px;
    margin-top: 15%;
    margin-left: 38%;
    margin-right: 38%;
}